<div class="flex items-center">
  <p><span class="font-bold">Room Number:</span><%= @room.number %></p>
  <%= link_to 'Join Room', room_path(@room.number), class: "ml-3 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" %>
</div>
