<div class="py-8">
  <h1 class="text-4xl font-bold">Talk Online</h1>
  <p class="mt-2 text-lg text-gray-600">
    You can chat online here.
  </p>
</div>
<div class="grid grid-cols-4 gap-6">
  <div class="block col-span-full h-96">
    <ul class="message-container list-none
               overflow-y-auto overscroll-y-contain
               h-full block w-full
               px-3 py-2
               border rounded-md border-gray-300 shadow-sm"></ul>
  </div>
  <label class="block col-span-full">
    <textarea class="mt-1
                     block
                     w-full
                     rounded-md
                     border-gray-300
                     shadow-sm
                     focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
    rows="3"></textarea>
  </label>
  <button id="send-button" type="button" class="col-start-4 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Send</button>
</div>