<% if flash[:error] %>
  <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
    <span class="font-medium"><%= flash[:error] %></span>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
    <span class="font-medium"><%= flash[:alert] %></span>
  </div>
<% end %>
